/*----------------------- RESET -----------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
	background: #fff;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size:0.84em;
}

ol, ul {
	list-style: none;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}
a {
	text-decoration: none;
	outline:none;
}
* {
  padding:0;
  margin:0;
  font-size:1em;
}
img {
	border:0px none;
}
.clear {
	clear: both;
	height: 0;
	margin: 0;
	font-size: 1px;
	line-height: 0px;
}
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */



/*----------------------- CONTENIDO -----------------------------*/
ul.idiomas{
	float:right;
	display:block;	
	margin:8px 20px 0px 0px;
}
ul.idiomas li{
	font-size: 0.8em;
	color:#004a9a;
	float:left;	
}
ul.idiomas li a{
	display:block;
	color:#aeaeae;
	padding-right:3px;
}
ul.idiomas li a.eng{
	background:transparent url(../images/idioma_bullet.gif) left 3px no-repeat;
	padding-left:8px;
}
ul.idiomas li a:hover{
		color:#004a9a;
}
#contenedor{
	width:100%;
	margin:0px auto;	
}
#cabecera{
	height:70px;
}
#cabecera h1 a{
	background: transparent;
	text-indent:-10000px;
	/*width:576px;*/
	height:48px;
	display:block;
	margin:0px auto;
}
#login{
	background: transparent;
	width:100%;
	margin:30px 0px 31px 0px;
	padding-top:20px;
}


div.entrada{
	width: 80%;
    max-width: 500px;
	margin:70px auto 0px auto;
}

input.campo_texto{
	background:transparent;
	border:none;
	width:189px;
	height:16px;	
	color:#5e5e5e;
	padding: 8px 2px;
}
input.boton{
	background:#009ee5;
	border:none;
	width:100%;
	height:50px;
	cursor:pointer;
	color:#fff;
	font-size:1.2em;
}
input.boton:hover{
	background-position:left -31px;
}
div.entrada label{
	color:#009ee5;
	font-size:1.1em;
	width:100px;
	text-align:right;
	margin-right:10px;
	float:left;
	padding-top:8px;
}
.elemento{
	margin-bottom:25px;
	border-bottom: 2px #80cef2 solid;
}	

a.desbloqueo_enlace{
	display:block;
	text-align:right;	
	color:#009ee5;
	text-decoration:underline;
	margin:15px 18px 0px 0px;
	font-size:0.85em;
}
a.desbloqueo_enlace:hover{
	text-decoration:none;
}
p.alerta{
	background:#fff url(../images/alerta_ico.gif) left top no-repeat;
	color:#595959;
	font-size:0.8em;	
	height:26px;
	padding:7px 0px 0px 36px;
	margin-top:40px;
}
/*----------------------- ENTRADA2 -----------------------------*/

div.entrada2{
	width:330px;
	margin:20px auto 0px auto;
	
}
h2{
	color:#009ee5;
	font-size:1.3em;
	font-weight:bold;
	text-align:center;
	margin-bottom:20px;
}
.elemento2{
	margin-bottom:13px;
	
}
div.entrada2 label{
	color:#009ee5;
	font-size:1.1em;
	width:126px;
	text-align:right;
	margin-right:10px;
	float:left;
	padding-top:8px;
}
input.boton2{
	background:transparent;
	border:none;
	width:111px;
	height:31px;
	cursor:pointer;
	color:#fff;
	font-size:1.2em;
	float:right;
	
}
input.boton2:hover{
	background-position:left -31px;
}
/*----------------------- ENTRADA3 -----------------------------*/
div.entrada3{
	width:528px;
	margin:20px auto 0px auto;
 }
 
div.entrada3 h2{
	margin-bottom:65px
 }
div.entrada3 label{
	color:#009ee5;
	font-size:1.1em;
	width:291px;
	text-align:right;
	margin-right:10px;
	float:left;
	padding-top:8px;
}
 div.entrada3 label.peq{
	width:260px;
}
.elemento3{
	margin-top:100px;
	
}
input.boton_ok{
	background:transparent url(../images/ok_boton.png) left top no-repeat;
	width:49px;
	height:31px;
	border:none;
	text-indent:-10000px;
	cursor:pointer;
	float:left;
	font-size:0px;
}
input.boton_ok:hover{
	background-position:left -31px;
}
input.campo_texto_corto{
	background:transparent;
	border:none;
	width:140px;
	height:31px;	
	color:#5e5e5e;
	padding:0px 2px;
	float:left;
}
p.user_ok{
	background:transparent url(../images/checked.gif) 92% top no-repeat;
	color:#00b0ee;
	text-align:center;
	font-weight:bold;
	font-size:1.1em;
	float:left;
	width:189px;
	margin-top:7px;	
}
/*----------------------- ENTRADA4 -----------------------------*/
.entrada4{
	width:528px;
	margin:60px auto 0px auto;
}
p.new{
	color:#595959;
	font-size:1.1em;
	text-align:center;
	margin:10px 0px;
}
p.new span{
	display:block;
	color:#009ae2;
	font-size:1.2em;
	font-weight:bold;
	margin:30px;
}
a.volver{
	display:block;
	text-align:right;
	color:#2f50a0;
	text-decoration:underline;	
	font-size:0.9em;
}
a.volver:hover{
	text-decoration:none;
	
}
